
body {
    background: url("../img/background.jpg");
    background-size:   cover;                      
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
	height: 2000px
}

.centerGroup {
	display: block;
	text-align: center;
}

.logo{
	height: 400px;
	width: 400px;
    display: inline-block;
}

.logosDiv{
    display: inline-block;
    margin: 0 40px 0 0;
}

.slogan{
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
	letter-spacing: 82px;
    color: #ffffff;
}

.completTip{
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
	letter-spacing: 24px;
    color: #ffffff;
}

.sloganDiv{
	padding-top: 100px;
	padding-bottom: 30px;

}

.coverText{
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    color: #ffffff;
	padding-top: 50px;
	padding-bottom: 30px;
	display: block; 
	width: 800px;
    margin-left: auto;
    margin-right: auto;
	text-align: left;

}

.inputDiv{
	padding-top: 80px;
}


.inputTextDiv{
	padding-top: 150px;
}

.inputText {
	border-width: 0;
    background: #a0a0a0;
    color: #ffffff;
    padding: 6px 55px 6px 75px;
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
}

.inputText:focus {
    background: #DFE9EC;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.inputText:hover {
    background: #DFE9EC;
    color: #414848;
}


.sendButton {
	border-width: 0;
	background-color:#ff8c3e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size: 36px;
	font-weight:bold;
	padding: 14px 48px;
	text-decoration:none;
}

.sendButton:active {
	position:relative;
	top:1px;
}

.linkText{
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    color: #ffffff;
	padding-top: 100px;
	padding-bottom: 30px;
	display: inline-block; 
	width: 100%;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}
.linkText a{
    color: #ffffff;
}

@media screen and (min-width: 800px) {

}

@media screen and (max-width: 800px) {  

	
}